@import url("https://fonts.googleapis.com/css?family=Montserrat:500|Raleway:800&display=swap");

:root {
    --light-shade: rgb(255, 255, 255);
    --light-accent: rgb(250, 250, 250);
    --dark-shade: rgb(39, 44, 81);
    --primary: rgb(44, 166, 161);
    --secondary: rgb(255, 88, 49);
    --tertiary: rgb(248, 241, 159);
    --title-font: "Raleway", sans-serif;
    --reg-font: "Montserrat", sans-serif;
}

* {
    box-sizing: border-box;
    font-family: var(--reg-font);
    color: var(--dark-shade);
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: var(--light-shade);
}

h1,
h2,
h3,
h4 {
    font-family: var(--title-font);
}

h1 {
    font-size: 3em;
}

a {
    color: var(--secondary);
    text-decoration: none;
}

a:hover {
    opacity: 0.7;
}

main {
    align-self: stretch;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

header {
    height: 60px;
    padding: 5px 20px;
    border-bottom: 1px solid #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

img.profile-pic {
    border-radius: 5px;
    border: 1px solid #ddd;
    object-fit: cover;
    cursor: pointer;
}

header div {
    display: flex;
    align-items: center;
}

nav {
    margin: 0 20px;
}

.nav-link {
    color: var(--dark-shade);
    margin: 0 10px;
}

.nav-link:hover {
    opacity: 1;
    color: var(--primary);
}

.logout {
    margin: 0 20px;
    /* padding: 10px; */
    cursor: pointer;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 80px;
    margin: 30px;
    background-color: var(--light-accent);
    border: solid 1px #eee;
    border-radius: 5px;
}

.modal-content .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

section {
    flex-grow: 1;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.welcome {
    justify-content: center;
}

.container {
    min-width: 75vw;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile .container {
    margin-top: 50px;
    align-items: flex-start;
    /* flex-direction: row;
    align-items: flex-start; */
}

.profile .container h3 {
    margin-top: 0;
}

.search-results {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    place-items: center;
}

.search-result {
    padding: 25px 30px;
    background-color: rgba(250, 250, 250, 0.8);
    border: solid 1px #eee;
    border-radius: 5px;
}

.search-result p {
    margin: 0;
    padding-top: 20px;
}

.searchbar {
    margin: 30px 0;
}

.profile .profile-pic {
    margin-bottom: 30px;
}

section {
    background: url("../img/world_map.svg") top center no-repeat
        rgba(255, 255, 255, 0.9);
    background-blend-mode: overlay;
    background-size: contain;
}

.welcome img {
    width: 40vw;
    min-width: 300px;
    margin-bottom: 30px;
}

input,
textarea {
    padding: 14px 18px 10px 18px;
    margin: 5px 0;
    border-radius: 5px;
    border: solid 1px #eee;
}

input:focus,
textarea:focus {
    border-color: var(--secondary);
}

.searchbar input {
    width: 100%;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    padding: 8px 12px;
    border-radius: 5px;
    color: var(--dark-shade);
    background-color: var(--light-shade);
    border: 1px solid var(--dark-shade);
    display: inline-block;
    cursor: pointer;
}

.inputfile + label:hover {
    background-color: #eee;
}

#file-label.ready {
    background-color: #05be05;
    border-color: transparent;
    color: var(--light-shade);
}

button {
    padding: 12px 20px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid transparent;
    cursor: pointer;
    transition: ease-in-out 0.2s;
    text-transform: uppercase;
}

.btn-primary {
    background-color: var(--primary);
    color: var(--light-shade);
}

.btn-primary:hover,
.btn-secondary:hover {
    background-color: var(--light-shade);
    color: var(--dark-shade);
    border-color: var(--dark-shade);
}

.btn-secondary {
    background-color: var(--secondary);
    color: var(--light-shade);
}

input:focus,
button:focus,
textarea:focus {
    outline: none;
}

.text-center {
    text-align: center;
}

.sec-color {
    color: var(--secondary);
}

.box {
    background: rgba(250, 250, 250, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 80px;
    margin: 30px;
    /* background-color: var(--light-accent); */
    border: solid 1px #eee;
    border-radius: 5px;
}

.welcome .box {
    background: url("../img/arrow.svg") center center no-repeat
        rgba(250, 250, 250, 0.8);
    background-blend-mode: overlay;
    background-size: contain;
}

.bio-txt-box {
    width: 100%;
    min-height: 200px;
    padding: 15px;
    /* background: rgba(250, 250, 250, 0.8); */
    border: solid 1px #eeeeee;
    border-radius: 5px;
}

.error {
    margin: 20px 0;
    color: var(--secondary);
}

.bio {
    /* margin: 0 30px; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.position-relative {
    position: relative;
}

.edit-symbol {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.friends h2 {
    margin: 30px 0;
}

.friends-wrapper {
    width: 100%;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, 220px);
    justify-content: center;
}

.friend-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 30px;
    background-color: rgba(250, 250, 250, 0.8);
    border: solid 1px #eee;
    border-radius: 5px;
}

.friend-container p {
    margin-top: 0;
}

/* #MEDIA QUERIES */
@media only screen and (max-width: 1200px) {
    .search-results {
        grid-template-columns: repeat(3, 1fr);
    }

    .search-result {
        padding: 15px 20px;
    }
}

@media only screen and (max-width: 768px) {
    header {
        padding: 5px;
    }

    .logout {
        margin: 0 10px;
    }

    .profile .container {
        grid-template-columns: 1fr;
        max-width: 450px;
        padding: 10px;
        margin-top: 10px;
    }

    .box {
        margin: 10px;
        padding: 30px 40px;
    }

    .profile .container {
        flex-direction: column;
        align-items: center;
    }

    .search-results {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 480px) {
    .search-results {
        grid-template-columns: repeat(1, 1fr);
    }
}
